.title{color: red;}
#dataTable{width: 100%!important; color: #000;}
#dataTable tbody tr td,
#dataTable thead tr th{background: none; text-align: center;}
.tableBox .top{display: flex; justify-content: space-between;}
.buttonBox{padding: 20px; width: 100%; display: flex; justify-content: flex-start; gap: 20px;}
#addRow{border: 0px solid; border-radius: 6px; padding: 6px; background-color: #11101d; color: #fff; font-size: 14px; font-weight: 600; cursor: pointer;}
#allRemove{display: none; border: 0px solid; border-radius: 6px; padding: 6px; background-color: #ff6961; color: #fff; font-size: 14px; font-weight: 600; cursor: pointer;}
.articleIdTh,
.articleIdTd{display: none;}